<div class="row">
    <div class="col-lg-12">
        <jhi-ngx-hero-buttons></jhi-ngx-hero-buttons>
        <jhi-ngx-default-buttons></jhi-ngx-default-buttons>
        <jhi-ngx-outline-buttons></jhi-ngx-outline-buttons>
    </div>
    <div class="col-md-12 col-lg-12 col-xxxl-6">
        <jhi-ngx-shape-buttons></jhi-ngx-shape-buttons>
        <jhi-ngx-action-groups></jhi-ngx-action-groups>
        <jhi-ngx-labeled-actions-group></jhi-ngx-labeled-actions-group>
    </div>
    <div class="col-md-12 col-lg-12 col-xxxl-6">
        <jhi-ngx-size-buttons></jhi-ngx-size-buttons>
        <jhi-ngx-button-elements></jhi-ngx-button-elements>
    </div>
</div>
