<div class="row">
    <div class="col-xxl-5">
        <div class="row">
            <div class="col-md-6"><jhi-ngx-profit-card></jhi-ngx-profit-card></div>
            <div class="col-md-6"><jhi-ngx-earning-card></jhi-ngx-earning-card></div>
        </div>

        <jhi-ngx-traffic-reveal-card></jhi-ngx-traffic-reveal-card>
    </div>

    <div class="col-xxl-7"><jhi-ngx-ecommerce-charts></jhi-ngx-ecommerce-charts></div>
</div>

<div class="row">
    <div class="col-xxl-9"><jhi-ngx-country-orders></jhi-ngx-country-orders></div>

    <div class="col-xxl-3"><jhi-ngx-progress-section></jhi-ngx-progress-section></div>
</div>

<div class="row">
    <div class="col-xxl-9"><jhi-ngx-ecommerce-visitors-analytics></jhi-ngx-ecommerce-visitors-analytics></div>

    <div class="col-xxl-3"><jhi-ngx-user-activity></jhi-ngx-user-activity></div>
</div>
